In [4]:
import pandas as pd

In [74]:
data = pd.read_csv('table.csv', dtype={'id': int})

In [76]:
data.head(5)

              cache      id
0  LfJRTf1jOzll7chy  151550
1  tsDqYXtvPkd-LoZy  500333
2  hGPf8k0Ixp_ANvy6  970133
3  7Tc9S!3u7DeQEDkX  777699
4  B_xgHecEHrvvVPwB  447845

In [79]:
frequency = data.groupby('id')['id'].agg(freq_id='count').sort_values \
    (['freq_id'], ascending=False)

In [80]:
frequency.head(10)

        freq_id
id
979861        6
98564         6
544664        6
251203        6
808645        6
427400        6
501179        6
670916        6
253290        6
336399        6

In [96]:
frequency.to_csv('1.2_frequency.csv', sep=',', encoding='utf-8')

In [97]:
frequency3 = frequency.loc[frequency['freq_id'] >= 3]

In [98]:
frequency3.head(10)

        freq_id
id
979861        6
98564         6
544664        6
251203        6
808645        6
427400        6
501179        6
670916        6
253290        6
336399        6

In [99]:
frequency3.to_csv('1.1_frequency_by_3.csv', sep=',', encoding='utf-8')